################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/표준국어대사전/v15
/표준국어대사전/AppPackages
/표준국어대사전/bin/x86/Release
/표준국어대사전/BundleArtifacts
/표준국어대사전/obj
/표준국어대사전 HTML 분석기
/표준국어대사전/bin
